
#addProgram {
  padding-left: 15px;
}
#pageContainer {
  background-color: #E8DEDC;
  opacity: 0.8;
}
#programPageContainer{
  background-color: #E8DEDC;
  opacity: 0.85;
  text-align: center;
  width: 100%;
}
#funderPageContainer{
  background-color: #E8DEDC;
  opacity: 0.85;
  text-align: center;
  width: 100%;
}
#router{
  padding-right: 10px;
}

#navbar{
  background-color: gray;
  padding-left: 10px;
  opacity: 0.85;
  display: flex;
  width: 100%
}
#welcome-name{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
  width: 75%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("mural.jpg");
}

#sign_in_form {
  padding: 35px;
}

.sign_up_links {
  background-color: #E8DEDC;
  opacity: 0.85;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}

#signinPageContainer {
  background-color: #E8DEDC;
  opacity: 0.85;
  padding: 50px;
  font-family: 'Fjalla One', sans-serif;
  border-radius: 50px;

}
#welcome-block {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #E8DEDC;
  opacity: 0.85;
}
h3 {
  font-family: 'Fjalla One', sans-serif;
}

a {
  color: black;
}
.button {
  padding-left: 10px;
  padding-right: 10px;
}

#icon {
  padding: 10px;
}
#programContainer {
  padding-top: 10px;
}
#favoritesContainer {
  padding-top: 10px;
}

h4 {
  padding: 10px;
  font-size: 2rem;
  text-decoration: underline;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

h6 {
  font-size: 1.4rem;
  font-family: 'Fjalla One', sans-serif;
}

p {
  font-family: 'Krub', sans-serif;
  margin-bottom: 0.25rem;
}
