.sign_in_form {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}

.sign_up_links {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  padding-top: 20px;

}
.text-highlight {
  background-color: #f0e2bf;
  padding: 25px;
}
#welcome-block {
  padding: 35px;
}

body {
  margin: 90px;
  background-color: #b29176;
  background-attachment: fixed;
}
a {
  color: #6f3d45;
}
.button {
  background-color: #6f3d45;
}
.top-bar {
   background-color: #6f3d45;
   height: 60px;
   border-bottom: 1px solid #FFFFFF;

}
.top-bar .name h1, .top-bar .name h2, .top-bar .name h3, .top-bar .name h4, .top-bar .name p, .top-bar .name span{
  font-size: 1.2rem;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: #6f3d45;
}

.top-bar-section ul li > a {
  font-size: 1.2rem;
}
