#addProgram {
  padding-left: 15px;
  padding-top: 50px;
}
#allPrograms{
  background-color: #E8DEDC;
  opacity: 0.85;
  text-align: center;
  width: 100%;
}
#programsHeader{
  font-size: 2.2rem;
  font-family: serif;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%
}
#partnershipsContainer{
  padding-top: 25px;
  text-align: center;
}
#pageContainer {
  background-color: #E8DEDC;
  opacity: 0.8;
}
#programPageContainer{
  background-color: #E8DEDC;
  opacity: 0.85;
  text-align: center;
  width: 100%;
  padding-top: 10px;
}
#programIndexContainer{
  background-color: #E8DEDC;
  opacity: 0.85;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 25%
}
#programIndexTile{
  background-color: #E8DEDC;
  opacity: 0.85;
  text-align: center;
  width: 100%;
  padding-top: 10px;
}

#funderPageContainer{
  background-color: #E8DEDC;
  opacity: 0.85;
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 25px
}
.sign-in {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #E8DEDC;
    opacity: 0.85;
    font-family: 'Fjalla One', sans-serif;
}
#router{
  padding-right: 10px;
}

#navbar{
  background-color: gray;
  padding-left: 10px;
  opacity: 0.85;
  display: flex;
  width: 100%
}
#welcome-name{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
  width: 75%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("mural.jpg");
}

#sign_in_form {
  padding: 35px;
}

.sign_up_links {
  background-color: #E8DEDC;
  opacity: 0.85;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}

#signinPageContainer {
  background-color: #E8DEDC;
  opacity: 0.85;
  padding: 50px;
  font-family: 'Fjalla One', sans-serif;
  border-radius: 50px;

}
#welcome-block {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #E8DEDC;
  opacity: 0.85;
}

a {
  color: black;
}
.button {
  padding: 7px;
  background-color: black;
}

#icon {
  padding: 10px;
}
#programContainer {
  padding-top: 10px;
  text-align: center;
}
#favoritesContainer {
  padding-top: 10px;
  float:right;
}
#profileContainer{
  background-color: #E8DEDC;
  opacity: 0.85;
  padding-left: 25px;
  padding-right: 25px;
}

h4 {
  padding: 10px;
  font-size: 2rem;
  text-decoration: underline;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

h6 {
  font-size: 1.4rem;
  font-family: 'Fjalla One', sans-serif;
}

#programIndexTile {
  font-size: 1.4rem;
  font-family: 'Fjalla One', sans-serif;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%
}

p {
  font-family: 'Krub', sans-serif;
  margin-bottom: 0.25rem;
  font-size: large;
  font-weight: bold;
}
li{
  font-size: large
}

.flash{
  background-color: #E8DEDC;
  opacity: 0.85;
}
